body {
    background-image: url("gambar/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}

#papyrus{
    background-image: url("gambar/papyrus.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    box-shadow: 0 0 8px chocolate;
}